/** ===== Global Declarition ==== **/
h1, h2, h3, h4, h5, h6{
    line-height: 30px !important;
    margin-bottom: 22px !important;
    font-weight: 400 !important;
}
body p{
   padding-bottom: 10px !important;
   font-size: 13px;
   line-height: 25px;
}    
.bold-text{
    font-weight: 600 !important;   
}
.custom-white-color {
    color: #fff !important;
}
/** ===== END Global Declarition ==== **/

/* =======Custom Header for Home Page=======*/
.page-home .top-bar-wrapper{
    background-color: #2c2c5e;
    margin-bottom: 0px;
    padding: 0px 10px;
    border-bottom: 0px solid rgba(255, 255, 255, 0.1);
}
.page-home .navbar-default{
    margin-bottom: 0px;
}
.page-home .navbar-default .navbar-nav > li > a:focus,
.page-home .navbar-default .navbar-nav > li > a:hover,
.page-home .navbar-default .navbar-nav > .current-menu-item > a  {
    color: #f71b59!important;
    border-bottom: 2px solid #f71b59;
}
.page-home .navbar-default .navbar-nav > li.menu-item-has-children > a::after {
    top: 10px;
    right: -12px;
}
.page-home .navbar-default .navbar-nav > li > a {
    color: #2c2c5e;
    text-transform: uppercase;
    font-weight: 600;   
}
.page-home .nav>li>a {
    padding: 10px 0px;
    margin: 0px 15px;
}
.page-home #logo {
    margin-left: 30px;
}
.page-home ul#menu-primary-menu {
    margin-top: 8px;
}
.page-home .logged-in.admin-bar .header-wrapper {
    margin-top: 0px; 
}
.page-home .header-wrapper.header-transparent{
    position: inherit;
}
.page-home .header-fixed-top #main-nav{
    float: right;
}
.page-home .header-fixed-top .top-bar-wrapper {
    padding: 0;
}
.page-home .main-nav {
    box-shadow: 0px 0px 9px 0px #5151ea8c;
}

/* =======END Custom Header for Home Page=======*/


.main-title h1, .all-courses-btn h4, .all-features-btn h4{
    position:relative;
    display:inline-block;
        color: #262626;
}
.main-title h1:after, .all-courses-btn h4:after, .all-features-btn h4:after{
    content:'';
    position:absolute;
    left:0;    
    top:100%;    
    margin: 12px auto;
    width: 72%;
    height: 1px;
    background: #000;
    transition:.5s;
}
.main-title h1:hover:after, .all-courses-btn h4:hover:after, .all-features-btn h4:hover:after{
    width: 100%;
    transition:.5s;
}
.all-courses-btn h4, .all-features-btn{
    font-size: 18px;
    margin-bottom: 0px !important;
    line-height: 0px !important;
}  
.all-courses-btn h4:after, .all-features-btn h4:after{
  background: #acb4b5;
} 
.all-features-btn h4:after{
  margin-top:0;
} 
#quick-links {
    float:right;
}
#quick-links > li:last-child{
    padding-right: 0px;
}

#quick-links > li {
    padding-right: 20px;
}
#quick-links > li a{
    color:#fff;
}
#quick-links > li > i {
    display: none;
}

#quick-links > li > span {
    border-right: 1px solid #fff;
    padding-right: 20px;
}
#quick-links > li > span {
    color: #ffffff;
}
#quick-links a{
    color:#fff;
}


.ms-slide-bgcont:before{
content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}
.courseshome {
    padding-left: 0 !important;
    padding-right: 220px !important;
}
.courseshome .main-title{
    position: relative;
    left: 110px;
}
.all-courses-btn {
    position: absolute;
    right: -8%;
    top: 50%;
}
.all-courses-btn a{
    color: #7c7c7c;
    font-size: 13px;    
}
.all-features-btn{
    position: absolute;
    left: -8%;
    top: 50%;
}

.page-title-style-01 {
    padding-bottom: 120px;
    margin-bottom: 50px;
}

.vc_row {
    margin-bottom: 0;
}
.custom-full-width .col-md-12{
    padding-right: 0px;
    padding-left: 0px;
}
.custom-full-width .row {
    margin-right: 0px;
    margin-left: 0px;
}
.ms-anim-layers .ms-layer h1 strong{
    color:#fff;
    font-size: 45px;    
}
.fillup-form span:first-child {
    position: absolute;
    z-index: 99;
    left: 40px;
    margin-top: 13px;
    font-size: 19px;
}
h1.form-title {
    font-weight: 600 !important;
    font-size: 22px;
}
.fillup-form {
    margin-bottom: 10px;
}
.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-email, .wpcf7 .wpcf7-textarea, .wpcf7-number, .wpcf7-select{
    padding: 5px 10px 5px 40px;
    width: 100%;
    margin-bottom: 10px !important;
    border: 1px solid #bebebe;
}
.apply-nowbtn {
    text-align: center;
}
h1.slider-title {
    line-height: 50px !important;
}
a.apply-now-sliderbtn {
    padding: 12px 60px;
    background-color: #fff;
    color: #2c2c5e;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}
.apply-nowbtn .wpcf7-submit{
    float: none;
    background-color: #f71b59;
    border-radius: 60px;
    width: 64%;
    font-size: 13px;
    margin: 0 auto;
    display: block;
}
div#wpcf7-f5-p6-o1 {
float: left;
    width: 100%;
    max-width: 365px;
    box-shadow: 0px 0px 25px 1px rgba(44, 44, 94, 0.25882352941176473);
    padding: 40px 25px;
    padding-bottom: 40px;
    position: absolute;
    right: 0;
    bottom: -60px;
    z-index: 99;
    background-color: #fff;
    border-radius: 6px;
}
.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-email, .wpcf7 .wpcf7-textarea, .wpcf7-number, .wpcf7-select {
    min-height: 45px;
}
.allcourses-grid .vc_gitem-animated-block .vc-gitem-zone-height-mode-auto{
    width: 37%;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid gray;
    margin-top: 20px; 
}
.allcourses-grid .vc_grid-item-mini, .allcourses-grid .vc_grid-item-mini .vc_custom_heading h4, .allcourses-grid .vc_btn3-container.vc_btn3-left,
#allfeatures .vc_grid-item-mini, #allfeatures .vc_grid-item-mini .vc_custom_heading h4,
#allfeatures .vc_btn3-container.vc_btn3-left, #affiliated-section .full-width-inside, #affiliated-section .full-width-section p,
#news-and-event-sec .vc_btn3-container.vc_btn3-left, #news-and-event-sec .vc_custom_heading h4,
.full-width-section .full-width-inside h1{
    text-align: center !important;
}
.allcourses-grid .vc_grid-item-mini .vc_custom_heading, .allcourses-grid .vc_grid-item-mini .vc_custom_heading h4,
#allfeatures .vc_grid-item-mini .vc_custom_heading, #allfeatures .vc_grid-item-mini .vc_custom_heading h4,
#news-and-event-sec .vc_grid-item-mini .vc_custom_heading, #news-and-event-sec .vc_grid-item-mini .vc_custom_heading h4{
    margin-bottom: 0px !important;
}
.vc_btn3.vc_btn3-size-md{
    padding: 7px 20px !important;
    border-radius: 20px;
    width: 40%;
    margin: 0 auto;
    background-color: #fff !important;
    color: gray !important;
    border: 1px solid #dfdfdf;
}
.ms-skin-light-3 .ms-bullets.ms-dir-h {
    width: 140px !important;
    opacity: 1 !important;
}
.ms-skin-light-3 .ms-bullet {
    width: 30px;
    height: 3px;
    background: none;
    margin: 4px;
    background-color: #fff;
    border-radius: 103px;
}
.ms-skin-light-3 .ms-bullets.ms-dir-h {
    bottom: 30px !important;
}
.ms-skin-light-3 .ms-bullet-selected{
    background-color: #f71b59 !important;   
}
.vc_btn3.vc_btn3-size-md:hover {
    background-color: #2c2c5e !important;
    color: #fff !important;
}
.allcourses-grid .vc_grid-item-mini, #allfeatures .vc_grid-item-mini, #news-and-event-sec .vc_grid-item-mini{
    background-color: #fff;
    box-shadow: 0px 7px 24px rgba(145, 145, 167, 0.17);
    border-radius: 4px;
    padding: 15px;
}
.allcourses-grid p {
    color: #8e8e8e;
    font-size: 13px;
}
.allcourses-grid h4{
text-transform: uppercase;
    color: #262626;
    font-size: 22px;
    font-weight: 600 !important;    
}
.allcourses-grid .vc_grid-item-mini .vc_gitem-zone{
    overflow: inherit;
    background-color: transparent !important; 
    background-size: auto;
}
 .allcourses-grid .vc_btn3-container.vc_btn3-left{
   margin-bottom: 0px !important;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: -35px;
 }
#allfeatures .vc_grid-item-mini .vc_gitem-zone-c, #news-and-event-sec .vc_grid-item-mini .vc_gitem-zone-c {
    min-height: 290px;
}
.full-width-inside span.apply-nowbtn-fullwidth {
    font-size: 18px;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    margin-left: 30px;
}
.full-width-inside span.apply-nowbtn-fullwidth a{
    color: #c9205b !important;
}
#allfeatures .vc_grid-item-mini, #allfeatures .vc_grid-item-mini .vc_gitem-zone-a, #news-and-event-sec .vc_gitem-zone-a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#allfeatures .vc_grid-item-mini .vc_gitem-zone-a, #news-and-event-sec .vc_gitem-zone-a{
    max-height: 250px;
    overflow: hidden;
}
#menu-primary-menu.navbar-nav.pi-nav.menu li.menu-item-object-custom:last-child a{
    background-color: #f71b59;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: 5px;
}

#menu-primary-menu.navbar-nav.pi-nav.menu li.menu-item-object-custom:last-child a:hover {
    color: #fff!important;
    border:none; 
}

#affiliated-section .full-width-section h1{
    position: relative;
    display: inline-block;
}    
#affiliated-section .full-width-section h1:after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    margin: 12px auto;
    width: 60%;
    height: 1px;
    background: #fff;
}
#affiliated-section .full-width-section p{
    color:#fff !important;
    margin-top: 40px !important;
}
.deans-message-inner .dr-name h4{
    margin-bottom: 0px !important;
}
.deans-message-inner .dr-name h6 {
    color: gray;
}
.first-section .deans-message-inner {
    padding: 20px 0px 20px 50px;
}
.second-section .deans-message-inner{
    padding: 20px 50px 20px 0px;
    text-align: right;
}
#news-and-event-sec .vc_tta-panels{
    background-color: transparent !important;
    border: 0px solid transparent !important;
}
#news-and-event-sec .vc_tta-tabs-list li.vc_tta-tab {
    width: 20%;
}
#news-and-event-sec .vc_tta-tabs-list li.vc_tta-tab.vc_active>a, #news-and-event-sec .vc_tta-tabs-list li.vc_tta-tab a:hover{
    border-color: #2c2c5e;
    background-color: #2c2c5e;
    color: #afaeae;
}
#news-and-event-sec .vc_tta-tabs-list li.vc_tta-tab a{
  padding: 10px 20px;
  background-color: #fff;
}
#news-and-event-sec .vc_grid-item-mini {
    border-radius: 7px;
}
#news-and-event-sec .vc_tta.vc_tta-gap-2.vc_tta-tabs-position-top .vc_tta-tabs-container{
    margin-bottom: 42px;
}
#news-and-event-sec .vc_tta.vc_general .vc_tta-panel-body{
    padding: 14px 0px;
}
#footer-wrapper{
    background-color: #faf9ff;
}
#footer-wrapper p, #footer-wrapper span, #footer-wrapper li {
   font-size: 15px;
    color: #000;
}
#footer-wrapper .widget{margin-bottom: 5px;}
#footer-wrapper ul.col-md-3.col-sm-6:first-child{width: 35%;}
.footer-widget-container .widget > .title h1, .footer-widget-container .widget > .title h2, .footer-widget-container .widget > .title h3, .footer-widget-container .widget > .title h4, .footer-widget-container .widget > .title h5, .footer-widget-container .widget > .title h6 {
    color: #000;
    font-weight: bold !important;
}
#footer-wrapper a{
    color: #acb4b5 !important;
}
.enquiry-content-pad p.equirydescription, .enquiry-content-pad hr, .enquiry-content-pad div > div{
    display: none;
}
.enquiry-content-pad div > div#enquiryform{
    display: block;
    padding-top: 45px;
}
.textbox_popup{
    border: 1px solid #2d5b85!important;
}
.button1_submit:hover{
    color: #2d5b85!important;
    border: 1px solid #2d5b85!important;
}
.sliding-enquiry-right .enquiry-title {
    writing-mode: initial !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg)!important;
    -o-transform: rotate(0deg)!important;
    white-space: inherit;
    display: inherit;
    padding: 5px;
    height: auto;
}
.sliding-enquiry-right .button1_submit{background: -webkit-linear-gradient(top,#2d5b85,#00aae8)!important;}
.sliding-enquiry-right .enquiry-header{
    width: auto;
    height: inherit;
}
.sliding-enquiry{ width: 450px;}
.sliding-enquiry .enquiry-header {
    background-color: #f71b59 !important;
    border-color: #f71b59 !important;
    text-align: center;
}
.sliding-enquiry img.stscopeicon {
    position: relative;
    top: 8px;
}
.wpls-logo-showcase-slider-wrp .wpls-logo-showcase .slick-dots{
   bottom: -50px !important;
}
li.post-container.clearfix:hover {
    box-shadow: 0px 0px 8px 0px #2c2c5e42;
    transition: 0.5s;
}
li.post-container.clearfix {
    padding: 15px 5px 7px;
}
#courses-sections .vc_custom_heading h4 {
    margin-bottom: 0px !important;
    line-height: 5px !important;
    position: relative;
    display: inline-block;
}
#courses-sections .vc_custom_heading h4:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    margin: 12px auto;
    width: 50%;
    height: 2px;
    background: #f71c5a;
}
#allfeatures {
    padding-right: 0 !important;
    padding-left: 220px !important;
}
#allfeatures .vc_grid-item-mini {
	padding:0;
}
.all-features-btn a {
    color: #7c7c7c;
    font-size: 13px;
}
#allfeatures .vc_gitem-zone{
    background-color: #ffffff !important;	
}
#allfeatures .vc_gitem-zone h4{
font-weight: bold !important;	
}
/********************/
#news-and-event-sec{
	    background-color: #f9f9ff !important;
}
#news-and-event-sec .vc_grid-item-mini {
	padding:0;
}
#news-and-event-sec .vc_gitem-zone{
    background-color: #ffffff !important;	
}
#news-and-event-sec .vc_gitem-zone h4{
font-weight: bold !important;	
}
#news-and-event-sec .vc_gitem-zone p{
	text-align:center;
}
#news-and-event-sec .vc_btn3-container {
    margin-bottom: 0;
}
.vc_custom_1548688917213 {
    background-color: #007389 !important;
}
.vc_custom_1548598700239 {
    background-color: #007389 !important;
}
/***********director section************/
.homepage_director-info_1, .homepage_director-info_2 {
    min-height: 405px;
}
.homepage_affiliated-section, .homepage_get-addmission{
    background: -webkit-linear-gradient(top,#2d5b85,#00aae8)!important;	
}
/***********Contact us page ************/
.custom-heading-03::before{
    display: none;
}
.custom-heading-03::after {
    background-color: #f71c5a;
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    top: 38px;
    left: 0;
}
.custom-heading-03{
    padding-top: 0px;
    margin-bottom: 30px;
}
#contact-detail-section .contact-detail-blogs h5{
    margin-bottom: 5px !important;
}
.contact-detail-blogs:not(:last-child) {
    border-right: 1px solid gray;
}
#contactus-form-and-sidebar h1.form-title {
    display: none;
}
#contactus-form-and-sidebar .fillup-form span:first-child{
    left: 32px;
}
.key-contacts .text-container .contacts-title h4{
    margin-bottom: 0px !important;
}
.key-contacts .text-container ul.fa-ul{
    margin-left: 0;
}
.key-contacts .text-container ul.fa-ul li p{
    padding-bottom: 0px !important;
}
.key-contacts .text-container .contacts-title {
    margin-bottom: 5px;
}
.fa-ul.default i{
    color: #f71b59;
}
.transworld h2 {
    line-height: 34px !important;
    font-size: 22px;
    font-weight: 600 !important;
}
.image-fixed-positions {
    background-attachment: fixed;
}
.image-fixed-positions .custom-heading-03 h2, .image-fixed-positions p{
    color: #fff;
}
span.border-bottom {
    border-bottom: 2px solid #f71c5a;
    color: #f71c5a;
}

.StudentsSection .featured-page-box .body{
    border: none;
    padding-bottom: 0px;
}

.StudentsSection .featured-page-box .media img{
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #dddddda6;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    object-fit: cover;
}
.homepage_graduates .wpb_text_column{
	    margin-top: 20px;
}
.homepage_graduates .wpb_text_column p{
	text-align:center !important;
}
.StudentsSection .featured-page-box .body h2{
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.StudentsSection .featured-page-box .body h2:before{
    display:none;
}
.StudentsSection .featured-page-box .media{
    padding: 10px;
    margin-bottom: 10px;
}
.StudentsSection .owl-theme .owl-dots, .StudentsSection .owl-theme .owl-nav{
    text-align: inherit;
}
.StudentsSection .owl-controls > .owl-nav > .owl-prev{
    top:-4px;
}
.StudentsSection .owl-theme .owl-nav [class*=owl-]{
    display: initial;
}
.StudentsSection .featured-page-box > .body::before {
    background-color: #f71c5a;
    left: 0;
    right: 0;
    margin: 0 auto;
}
div.go-gallery ul.go-gallery-filters{
    padding-bottom: 30px !important;
	padding-top:30px;
}
/********************gallery page***************/
ul.go-gallery-filters li a{
    background-color: transparent;
    color: #000;
    font-size: 14px;
    padding: 0 20px;	
	position: relative;
}
ul.go-gallery-filters li a:after{
	content:"";
}
.gallery-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
div.go-gallery ul.go-gallery-filters li a{
    background: #4440 !important;
    color: #000 !important;
    text-transform: uppercase;
}
ul.go-gallery-filters li.active a:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #02738a;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    text-align: center;
}
div.go-gallery ul.go-gallery-filters li.active a{
    color:#02738a !important;
}
div.go-gallery ul.go-gallery-list li.go-gallery-item .image-overlay h3,
#qt_popup_lb .qt_popup_header span.title{
    display: none;
}
#Gallery-section .go-gallery{
   background-color: transparent;
}
#qt_popup_lb .qt_popup_header{
    padding: 20px 12px;
}

.key-contacts img{
    height: 100px;
}
#contact-detail-section .contact-detail-blogs h5 i{
    font-size: 15px;
}

#footer-wrapper .widget#media_image-2{
   position: absolute;
   top: -135px;
   width: 100%;
   left: 100%;
   right: 0;
   text-align: center;
}
#footer-wrapper .widget#media_image-2 img{
width:120px !important;
height:120px !important;
   border-radius: 50%;
   border: 8px solid #faf9ff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);    
}

.footer-widget-container .widget > .title h3{
   color: #000;
   font-weight: bold !important;
   font-size: 18px;
}