/*  
    6.19. ELEMENTS - MAP
    ========================================================================= */

.map-height-lg {
    height: 550px;
}

.map-height-small {
    height: 280px;
}

#map + div, 
#map + p,
#map + ul,
#map + a {
    margin-top: 30px;
}