/*  
    6.3. ELEMENTS - BLOCKQUOTE
    ========================================================================= */ 

blockquote {
    padding-left: 30px;
    border-left: 1px solid;
    
    p {
        padding-bottom: 20px;
    }
    
    cite {
        @include body-font-stack();
        color: $mc-light;
    }
}