@font-face {
  font-family: 'lynny';
  src:
    url('fonts/lynny.ttf?5fktov') format('truetype'),
    url('fonts/lynny.woff?5fktov') format('woff'),
    url('fonts/lynny.svg?5fktov#lynny') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lynny-"], [class*=" lynny-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lynny' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lynny-boat:before {
  content: "\eac5";
}
.lynny-add:before {
  content: "\e900";
}
.lynny-address-book:before {
  content: "\e901";
}
.lynny-admission-ticket:before {
  content: "\e902";
}
.lynny-admission-tickets:before {
  content: "\e903";
}
.lynny-airplay-logo:before {
  content: "\e904";
}
.lynny-align-center:before {
  content: "\e905";
}
.lynny-align-justify:before {
  content: "\e906";
}
.lynny-align-left:before {
  content: "\e907";
}
.lynny-align-right:before {
  content: "\e908";
}
.lynny-android:before {
  content: "\e909";
}
.lynny-arrow-circle-down:before {
  content: "\e90a";
}
.lynny-arrow-circle-left:before {
  content: "\e90b";
}
.lynny-arrow-circle-right:before {
  content: "\e90c";
}
.lynny-arrow-circle-up:before {
  content: "\e90d";
}
.lynny-arrow-curved-down:before {
  content: "\e90e";
}
.lynny-arrow-curved-left:before {
  content: "\e90f";
}
.lynny-arrow-curved-right:before {
  content: "\e910";
}
.lynny-arrow-curved-up:before {
  content: "\e911";
}
.lynny-arrow-down-1:before {
  content: "\e912";
}
.lynny-arrow-down-2:before {
  content: "\e913";
}
.lynny-arrow-down-3:before {
  content: "\e914";
}
.lynny-arrow-left-1:before {
  content: "\e915";
}
.lynny-arrow-left-2:before {
  content: "\e916";
}
.lynny-arrow-left-3:before {
  content: "\e917";
}
.lynny-arrow-move:before {
  content: "\e918";
}
.lynny-arrow-righ-angle-1:before {
  content: "\e919";
}
.lynny-arrow-righ-angle-2:before {
  content: "\e91a";
}
.lynny-arrow-right-1:before {
  content: "\e91b";
}
.lynny-arrow-right-2:before {
  content: "\e91c";
}
.lynny-arrow-right-3:before {
  content: "\e91d";
}
.lynny-arrow-square-down:before {
  content: "\e91e";
}
.lynny-arrow-square-left:before {
  content: "\e91f";
}
.lynny-arrow-square-right:before {
  content: "\e920";
}
.lynny-arrow-square-up:before {
  content: "\e921";
}
.lynny-arrow-triangle-down:before {
  content: "\e922";
}
.lynny-arrow-triangle-left:before {
  content: "\e923";
}
.lynny-arrow-triangle-right:before {
  content: "\e924";
}
.lynny-arrow-triangle-up:before {
  content: "\e925";
}
.lynny-arrow-up-1:before {
  content: "\e926";
}
.lynny-arrow-up-2:before {
  content: "\e927";
}
.lynny-arrow-up-3:before {
  content: "\e928";
}
.lynny-at:before {
  content: "\e929";
}
.lynny-atlas:before {
  content: "\e92a";
}
.lynny-atom:before {
  content: "\e92b";
}
.lynny-bandaid:before {
  content: "\e92c";
}
.lynny-bar-chart:before {
  content: "\e92d";
}
.lynny-barcode:before {
  content: "\e92e";
}
.lynny-barcode-scan:before {
  content: "\e92f";
}
.lynny-barcode-search:before {
  content: "\e930";
}
.lynny-battery-1:before {
  content: "\e931";
}
.lynny-battery-2:before {
  content: "\e932";
}
.lynny-battery-3:before {
  content: "\e933";
}
.lynny-battery-4:before {
  content: "\e934";
}
.lynny-battery-5:before {
  content: "\e935";
}
.lynny-battery-charging:before {
  content: "\e936";
}
.lynny-beaker-1:before {
  content: "\e937";
}
.lynny-beaker-2:before {
  content: "\e938";
}
.lynny-beaker-3:before {
  content: "\e939";
}
.lynny-bell:before {
  content: "\e93a";
}
.lynny-billboard-1:before {
  content: "\e93b";
}
.lynny-billboard-2:before {
  content: "\e93c";
}
.lynny-binoculars:before {
  content: "\e93d";
}
.lynny-bitcoin-coin:before {
  content: "\e93e";
}
.lynny-bitcoin-coins:before {
  content: "\e93f";
}
.lynny-bluetooth:before {
  content: "\e940";
}
.lynny-bone:before {
  content: "\e941";
}
.lynny-bones:before {
  content: "\e942";
}
.lynny-book:before {
  content: "\e943";
}
.lynny-bookmark-1:before {
  content: "\e944";
}
.lynny-bookmark-2:before {
  content: "\e945";
}
.lynny-bookshelf:before {
  content: "\e946";
}
.lynny-boom-box:before {
  content: "\e947";
}
.lynny-bottle:before {
  content: "\e948";
}
.lynny-bow-tie:before {
  content: "\e949";
}
.lynny-box-1:before {
  content: "\e94a";
}
.lynny-box-2:before {
  content: "\e94b";
}
.lynny-box-download:before {
  content: "\e94c";
}
.lynny-box-papers:before {
  content: "\e94d";
}
.lynny-box-upload:before {
  content: "\e94e";
}
.lynny-box-video:before {
  content: "\e94f";
}
.lynny-briefcase:before {
  content: "\e950";
}
.lynny-browser:before {
  content: "\e951";
}
.lynny-browser-compass:before {
  content: "\e952";
}
.lynny-browsers:before {
  content: "\e953";
}
.lynny-building:before {
  content: "\e954";
}
.lynny-building-2:before {
  content: "\e955";
}
.lynny-calculator:before {
  content: "\e956";
}
.lynny-calendar-1:before {
  content: "\e957";
}
.lynny-calendar-2:before {
  content: "\e958";
}
.lynny-camera:before {
  content: "\e959";
}
.lynny-camera-film:before {
  content: "\e95a";
}
.lynny-camera-polaroid:before {
  content: "\e95b";
}
.lynny-cameras:before {
  content: "\e95c";
}
.lynny-camera-wide-angle:before {
  content: "\e95d";
}
.lynny-cash-register:before {
  content: "\e95e";
}
.lynny-celsius:before {
  content: "\e95f";
}
.lynny-chat-1:before {
  content: "\e960";
}
.lynny-chat-2:before {
  content: "\e961";
}
.lynny-chat-3:before {
  content: "\e962";
}
.lynny-checkmark-1:before {
  content: "\e963";
}
.lynny-checkmark-2:before {
  content: "\e964";
}
.lynny-chromecast-logo:before {
  content: "\e965";
}
.lynny-circle-outline:before {
  content: "\e966";
}
.lynny-circle-outline-circle:before {
  content: "\e967";
}
.lynny-circle-outline-down:before {
  content: "\e968";
}
.lynny-circle-outline-up:before {
  content: "\e969";
}
.lynny-clipboard:before {
  content: "\e96a";
}
.lynny-clock-1:before {
  content: "\e96b";
}
.lynny-clock-2:before {
  content: "\e96c";
}
.lynny-close:before {
  content: "\e96d";
}
.lynny-cloud-1:before {
  content: "\e96e";
}
.lynny-cloud-2:before {
  content: "\e96f";
}
.lynny-cloud-download:before {
  content: "\e970";
}
.lynny-cloud-lightning-1:before {
  content: "\e971";
}
.lynny-cloud-lightning-2:before {
  content: "\e972";
}
.lynny-cloud-rain--1:before {
  content: "\e973";
}
.lynny-cloud-rain-2:before {
  content: "\e974";
}
.lynny-cloud-rain-3:before {
  content: "\e975";
}
.lynny-cloud-snow:before {
  content: "\e976";
}
.lynny-cloud-sun:before {
  content: "\e977";
}
.lynny-cloud-sync:before {
  content: "\e978";
}
.lynny-cloud-upload:before {
  content: "\e979";
}
.lynny-command-line:before {
  content: "\e97a";
}
.lynny-compass:before {
  content: "\e97b";
}
.lynny-contact-card-1:before {
  content: "\e97c";
}
.lynny-contact-card-2:before {
  content: "\e97d";
}
.lynny-contact-card-3:before {
  content: "\e97e";
}
.lynny-contact-cards:before {
  content: "\e97f";
}
.lynny-credit-card:before {
  content: "\e980";
}
.lynny-credit-cards:before {
  content: "\e981";
}
.lynny-currency-euro:before {
  content: "\e982";
}
.lynny-desk:before {
  content: "\e983";
}
.lynny-desktop:before {
  content: "\e984";
}
.lynny-desktop-download:before {
  content: "\e985";
}
.lynny-desktop-left:before {
  content: "\e986";
}
.lynny-desktop-right:before {
  content: "\e987";
}
.lynny-desktop-sync:before {
  content: "\e988";
}
.lynny-desktop-upload:before {
  content: "\e989";
}
.lynny-diamond:before {
  content: "\e98a";
}
.lynny-dlna-logo:before {
  content: "\e98b";
}
.lynny-dollar-coin:before {
  content: "\e98c";
}
.lynny-dollar-coins:before {
  content: "\e98d";
}
.lynny-download:before {
  content: "\e98e";
}
.lynny-download-circle:before {
  content: "\e98f";
}
.lynny-drawers-1:before {
  content: "\e990";
}
.lynny-drawers-2:before {
  content: "\e991";
}
.lynny-drawers-3:before {
  content: "\e992";
}
.lynny-dribbble-cricle:before {
  content: "\e993";
}
.lynny-dribbble-square:before {
  content: "\e994";
}
.lynny-dropbox-cricle:before {
  content: "\e995";
}
.lynny-dropbox-square:before {
  content: "\e996";
}
.lynny-droplet:before {
  content: "\e997";
}
.lynny-eject:before {
  content: "\e998";
}
.lynny-envelopes-vertical:before {
  content: "\e999";
}
.lynny-envelope-vertical:before {
  content: "\e99a";
}
.lynny-error:before {
  content: "\e99b";
}
.lynny-euro-coin:before {
  content: "\e99c";
}
.lynny-euro-coins:before {
  content: "\e99d";
}
.lynny-exit-1:before {
  content: "\e99e";
}
.lynny-exit-2:before {
  content: "\e99f";
}
.lynny-eye:before {
  content: "\e9a0";
}
.lynny-facebook-circle:before {
  content: "\e9a1";
}
.lynny-facebook-square:before {
  content: "\e9a2";
}
.lynny-fahrenheit:before {
  content: "\e9a3";
}
.lynny-fast-forward:before {
  content: "\e9a4";
}
.lynny-file-ai:before {
  content: "\e9a5";
}
.lynny-file-gif:before {
  content: "\e9a6";
}
.lynny-file-jpg:before {
  content: "\e9a7";
}
.lynny-file-pdf:before {
  content: "\e9a8";
}
.lynny-file-png:before {
  content: "\e9a9";
}
.lynny-file-psd:before {
  content: "\e9aa";
}
.lynny-filter:before {
  content: "\e9ab";
}
.lynny-filter-add:before {
  content: "\e9ac";
}
.lynny-filter-remove:before {
  content: "\e9ad";
}
.lynny-finder:before {
  content: "\e9ae";
}
.lynny-flag-1:before {
  content: "\e9af";
}
.lynny-flag-2:before {
  content: "\e9b0";
}
.lynny-floppy-disk-1:before {
  content: "\e9b1";
}
.lynny-floppy-disk-2:before {
  content: "\e9b2";
}
.lynny-folder:before {
  content: "\e9b3";
}
.lynny-folder-more:before {
  content: "\e9b4";
}
.lynny-folders:before {
  content: "\e9b5";
}
.lynny-folder-search:before {
  content: "\e9b6";
}
.lynny-fork:before {
  content: "\e9b7";
}
.lynny-fullscreen:before {
  content: "\e9b8";
}
.lynny-fullscreen-reverse:before {
  content: "\e9b9";
}
.lynny-game-controller:before {
  content: "\e9ba";
}
.lynny-gift:before {
  content: "\e9bb";
}
.lynny-global-connection:before {
  content: "\e9bc";
}
.lynny-globe-1:before {
  content: "\e9bd";
}
.lynny-globe-2_1:before {
  content: "\e9be";
}
.lynny-globe-arrows:before {
  content: "\e9bf";
}
.lynny-globes:before {
  content: "\e9c0";
}
.lynny-gold:before {
  content: "\e9c1";
}
.lynny-google-plus-cricle:before {
  content: "\e9c2";
}
.lynny-google-plus-square:before {
  content: "\e9c3";
}
.lynny-graduation:before {
  content: "\e9c4";
}
.lynny-grid-1:before {
  content: "\e9c5";
}
.lynny-grid-2:before {
  content: "\e9c6";
}
.lynny-grid-3:before {
  content: "\e9c7";
}
.lynny-grid-4:before {
  content: "\e9c8";
}
.lynny-grid-5:before {
  content: "\e9c9";
}
.lynny-grid-6:before {
  content: "\e9ca";
}
.lynny-grid-7:before {
  content: "\e9cb";
}
.lynny-grid-8:before {
  content: "\e9cc";
}
.lynny-grid-9:before {
  content: "\e9cd";
}
.lynny-grid-10:before {
  content: "\e9ce";
}
.lynny-grid-11:before {
  content: "\e9cf";
}
.lynny-grid-12:before {
  content: "\e9d0";
}
.lynny-handbag:before {
  content: "\e9d1";
}
.lynny-hard-drive:before {
  content: "\e9d2";
}
.lynny-hat-cane:before {
  content: "\e9d3";
}
.lynny-headphones:before {
  content: "\e9d4";
}
.lynny-headphones-2:before {
  content: "\e9d5";
}
.lynny-headphones-3:before {
  content: "\e9d6";
}
.lynny-health-circle:before {
  content: "\e9d7";
}
.lynny-health-square:before {
  content: "\e9d8";
}
.lynny-heart:before {
  content: "\e9d9";
}
.lynny-heart-broken-1:before {
  content: "\e9da";
}
.lynny-heart-broken-2:before {
  content: "\e9db";
}
.lynny-help:before {
  content: "\e9dc";
}
.lynny-home:before {
  content: "\e9dd";
}
.lynny-inbox:before {
  content: "\e9de";
}
.lynny-inbox-download:before {
  content: "\e9df";
}
.lynny-inboxes:before {
  content: "\e9e0";
}
.lynny-inbox-full:before {
  content: "\e9e1";
}
.lynny-inbox-upload:before {
  content: "\e9e2";
}
.lynny-infinite:before {
  content: "\e9e3";
}
.lynny-info:before {
  content: "\e9e4";
}
.lynny-instagram-cricle:before {
  content: "\e9e5";
}
.lynny-instagram-square:before {
  content: "\e9e6";
}
.lynny-key-1:before {
  content: "\e9e7";
}
.lynny-key-2:before {
  content: "\e9e8";
}
.lynny-keyboard:before {
  content: "\e9e9";
}
.lynny-keyboard-down:before {
  content: "\e9ea";
}
.lynny-keyboard-up:before {
  content: "\e9eb";
}
.lynny-laptop:before {
  content: "\e9ec";
}
.lynny-life-preserver:before {
  content: "\e9ed";
}
.lynny-lightning:before {
  content: "\e9ee";
}
.lynny-line-chart:before {
  content: "\e9ef";
}
.lynny-linkedin-cricle:before {
  content: "\e9f0";
}
.lynny-linkedin-square:before {
  content: "\e9f1";
}
.lynny-list-1:before {
  content: "\e9f2";
}
.lynny-list-2:before {
  content: "\e9f3";
}
.lynny-list-3:before {
  content: "\e9f4";
}
.lynny-location-target:before {
  content: "\e9f5";
}
.lynny-lock:before {
  content: "\e9f6";
}
.lynny-magnifier:before {
  content: "\e9f7";
}
.lynny-mail:before {
  content: "\e9f8";
}
.lynny-mail-duplicate:before {
  content: "\e9f9";
}
.lynny-map-1:before {
  content: "\e9fa";
}
.lynny-map-2:before {
  content: "\e9fb";
}
.lynny-map-pin-1:before {
  content: "\e9fc";
}
.lynny-map-pin-2:before {
  content: "\e9fd";
}
.lynny-map-pin-3:before {
  content: "\e9fe";
}
.lynny-medicine-bottle:before {
  content: "\e9ff";
}
.lynny-megaphone-1:before {
  content: "\ea00";
}
.lynny-megaphone-2:before {
  content: "\ea01";
}
.lynny-megaphone-3:before {
  content: "\ea02";
}
.lynny-microphone-1:before {
  content: "\ea03";
}
.lynny-microphone-2:before {
  content: "\ea04";
}
.lynny-mobile:before {
  content: "\ea05";
}
.lynny-moon-1:before {
  content: "\ea06";
}
.lynny-moon-2:before {
  content: "\ea07";
}
.lynny-moon-cycle-1:before {
  content: "\ea08";
}
.lynny-moon-cycle-2:before {
  content: "\ea09";
}
.lynny-moon-cycle-3:before {
  content: "\ea0a";
}
.lynny-moon-cycle-4:before {
  content: "\ea0b";
}
.lynny-moon-cycle-5:before {
  content: "\ea0c";
}
.lynny-moon-cycle-6:before {
  content: "\ea0d";
}
.lynny-moon-cycle-7:before {
  content: "\ea0e";
}
.lynny-moon-cycle-8:before {
  content: "\ea0f";
}
.lynny-more-1:before {
  content: "\ea10";
}
.lynny-more-2:before {
  content: "\ea11";
}
.lynny-mouse:before {
  content: "\ea12";
}
.lynny-music-note-1:before {
  content: "\ea13";
}
.lynny-music-note-2:before {
  content: "\ea14";
}
.lynny-music-note-circle:before {
  content: "\ea15";
}
.lynny-music-note-square-1:before {
  content: "\ea16";
}
.lynny-music-note-square-2:before {
  content: "\ea17";
}
.lynny-music-note-square-3:before {
  content: "\ea18";
}
.lynny-neck-tie:before {
  content: "\ea19";
}
.lynny-newspaper:before {
  content: "\ea1a";
}
.lynny-newspaper-stack:before {
  content: "\ea1b";
}
.lynny-next:before {
  content: "\ea1c";
}
.lynny-no-entry:before {
  content: "\ea1d";
}
.lynny-note:before {
  content: "\ea1e";
}
.lynny-notepad:before {
  content: "\ea1f";
}
.lynny-orbit:before {
  content: "\ea20";
}
.lynny-oswindows:before {
  content: "\ea21";
}
.lynny-osx:before {
  content: "\ea22";
}
.lynny-page-1:before {
  content: "\ea23";
}
.lynny-page-2:before {
  content: "\ea24";
}
.lynny-pages-1:before {
  content: "\ea25";
}
.lynny-pages-2:before {
  content: "\ea26";
}
.lynny-paper-bitcoin:before {
  content: "\ea27";
}
.lynny-paper-bitcoins-1:before {
  content: "\ea28";
}
.lynny-paper-bitcoins-2:before {
  content: "\ea29";
}
.lynny-paper-clip:before {
  content: "\ea2a";
}
.lynny-paper-dollar:before {
  content: "\ea2b";
}
.lynny-paper-dollars-1:before {
  content: "\ea2c";
}
.lynny-paper-dollars-2:before {
  content: "\ea2d";
}
.lynny-paper-euro:before {
  content: "\ea2e";
}
.lynny-paper-euros-1:before {
  content: "\ea2f";
}
.lynny-paper-euros-2:before {
  content: "\ea30";
}
.lynny-paper-plane:before {
  content: "\ea31";
}
.lynny-paper-shredder:before {
  content: "\ea32";
}
.lynny-pause:before {
  content: "\ea33";
}
.lynny-pencil:before {
  content: "\ea34";
}
.lynny-phone-1:before {
  content: "\ea35";
}
.lynny-phone-2:before {
  content: "\ea36";
}
.lynny-photo-1:before {
  content: "\ea37";
}
.lynny-photo-list:before {
  content: "\ea38";
}
.lynny-photos-1:before {
  content: "\ea39";
}
.lynny-photos-2:before {
  content: "\ea3a";
}
.lynny-photos-3:before {
  content: "\ea3b";
}
.lynny-pie-chart:before {
  content: "\ea3c";
}
.lynny-pill:before {
  content: "\ea3d";
}
.lynny-pinterest-cricle:before {
  content: "\ea3e";
}
.lynny-pinterest-square:before {
  content: "\ea3f";
}
.lynny-play:before {
  content: "\ea40";
}
.lynny-podcast-1:before {
  content: "\ea41";
}
.lynny-podcast-2:before {
  content: "\ea42";
}
.lynny-popout:before {
  content: "\ea43";
}
.lynny-posicle:before {
  content: "\ea44";
}
.lynny-power:before {
  content: "\ea45";
}
.lynny-presentation-1:before {
  content: "\ea46";
}
.lynny-presentation-2:before {
  content: "\ea47";
}
.lynny-presentation-3:before {
  content: "\ea48";
}
.lynny-presentation-4:before {
  content: "\ea49";
}
.lynny-presentation-5:before {
  content: "\ea4a";
}
.lynny-printer:before {
  content: "\ea4b";
}
.lynny-radar:before {
  content: "\ea4c";
}
.lynny-radio:before {
  content: "\ea4d";
}
.lynny-rainbow:before {
  content: "\ea4e";
}
.lynny-receipt:before {
  content: "\ea4f";
}
.lynny-receipts:before {
  content: "\ea50";
}
.lynny-record:before {
  content: "\ea51";
}
.lynny-record-player:before {
  content: "\ea52";
}
.lynny-refresh-1:before {
  content: "\ea53";
}
.lynny-refresh-2:before {
  content: "\ea54";
}
.lynny-refresh-3:before {
  content: "\ea55";
}
.lynny-refresh-4:before {
  content: "\ea56";
}
.lynny-remove:before {
  content: "\ea57";
}
.lynny-road-signs:before {
  content: "\ea58";
}
.lynny-rocket:before {
  content: "\ea59";
}
.lynny-router:before {
  content: "\ea5a";
}
.lynny-rss-1:before {
  content: "\ea5b";
}
.lynny-rss-2:before {
  content: "\ea5c";
}
.lynny-safe:before {
  content: "\ea5d";
}
.lynny-scissors:before {
  content: "\ea5e";
}
.lynny-server-connections:before {
  content: "\ea5f";
}
.lynny-servers_1:before {
  content: "\ea60";
}
.lynny-settings-1:before {
  content: "\ea61";
}
.lynny-settings-2:before {
  content: "\ea62";
}
.lynny-settings-3:before {
  content: "\ea63";
}
.lynny-share-1:before {
  content: "\ea64";
}
.lynny-share-2:before {
  content: "\ea65";
}
.lynny-shield:before {
  content: "\ea66";
}
.lynny-shopping-bag:before {
  content: "\ea67";
}
.lynny-shopping-bags:before {
  content: "\ea68";
}
.lynny-shopping-basket:before {
  content: "\ea69";
}
.lynny-shopping-basket-add:before {
  content: "\ea6a";
}
.lynny-shopping-basket-in:before {
  content: "\ea6b";
}
.lynny-shopping-basket-left:before {
  content: "\ea6c";
}
.lynny-shopping-basket-out:before {
  content: "\ea6d";
}
.lynny-shopping-basket-remove:before {
  content: "\ea6e";
}
.lynny-shopping-basket-right:before {
  content: "\ea6f";
}
.lynny-shopping-cart:before {
  content: "\ea70";
}
.lynny-shopping-cart-add:before {
  content: "\ea71";
}
.lynny-shopping-cart-in:before {
  content: "\ea72";
}
.lynny-shopping-cart-left:before {
  content: "\ea73";
}
.lynny-shopping-cart-out:before {
  content: "\ea74";
}
.lynny-shopping-cart-remove:before {
  content: "\ea75";
}
.lynny-shopping-cart-right:before {
  content: "\ea76";
}
.lynny-shuffle:before {
  content: "\ea77";
}
.lynny-sign-post:before {
  content: "\ea78";
}
.lynny-square-outline:before {
  content: "\ea79";
}
.lynny-square-outline-cube:before {
  content: "\ea7a";
}
.lynny-square-outline-down:before {
  content: "\ea7b";
}
.lynny-square-outline-up:before {
  content: "\ea7c";
}
.lynny-stack-1:before {
  content: "\ea7d";
}
.lynny-stack-2:before {
  content: "\ea7e";
}
.lynny-star:before {
  content: "\ea7f";
}
.lynny-star-circle:before {
  content: "\ea80";
}
.lynny-stars:before {
  content: "\ea81";
}
.lynny-stop:before {
  content: "\ea82";
}
.lynny-storefront:before {
  content: "\ea83";
}
.lynny-suitcase:before {
  content: "\ea84";
}
.lynny-suitcases:before {
  content: "\ea85";
}
.lynny-sun:before {
  content: "\ea86";
}
.lynny-sunrise:before {
  content: "\ea87";
}
.lynny-sunset:before {
  content: "\ea88";
}
.lynny-tablet:before {
  content: "\ea89";
}
.lynny-tag:before {
  content: "\ea8a";
}
.lynny-tags:before {
  content: "\ea8b";
}
.lynny-target:before {
  content: "\ea8c";
}
.lynny-tea-cup:before {
  content: "\ea8d";
}
.lynny-test-tube:before {
  content: "\ea8e";
}
.lynny-thermometer:before {
  content: "\ea8f";
}
.lynny-toggles-1:before {
  content: "\ea90";
}
.lynny-toggles-2:before {
  content: "\ea91";
}
.lynny-toggles-3:before {
  content: "\ea92";
}
.lynny-top-charts:before {
  content: "\ea93";
}
.lynny-trash:before {
  content: "\ea94";
}
.lynny-trash-full:before {
  content: "\ea95";
}
.lynny-tree:before {
  content: "\ea96";
}
.lynny-tumblr-cricle:before {
  content: "\ea97";
}
.lynny-tumblr-square:before {
  content: "\ea98";
}
.lynny-turn-ahead:before {
  content: "\ea99";
}
.lynny-tv:before {
  content: "\ea9a";
}
.lynny-tv-fuzz:before {
  content: "\ea9b";
}
.lynny-tv-old:before {
  content: "\ea9c";
}
.lynny-twitter-circle:before {
  content: "\ea9d";
}
.lynny-twitter-square:before {
  content: "\ea9e";
}
.lynny-umbrella:before {
  content: "\ea9f";
}
.lynny-unlock:before {
  content: "\eaa0";
}
.lynny-upload:before {
  content: "\eaa1";
}
.lynny-user-female:before {
  content: "\eaa2";
}
.lynny-user-group-1:before {
  content: "\eaa3";
}
.lynny-user-group-2:before {
  content: "\eaa4";
}
.lynny-user-male:before {
  content: "\eaa5";
}
.lynny-video-1:before {
  content: "\eaa6";
}
.lynny-video-2:before {
  content: "\eaa7";
}
.lynny-video-3:before {
  content: "\eaa8";
}
.lynny-video-camera-1:before {
  content: "\eaa9";
}
.lynny-video-camera-2:before {
  content: "\eaaa";
}
.lynny-video-camera-3:before {
  content: "\eaab";
}
.lynny-video-camera-4:before {
  content: "\eaac";
}
.lynny-vimeo-cricle:before {
  content: "\eaad";
}
.lynny-vimeo-square:before {
  content: "\eaae";
}
.lynny-volume-1:before {
  content: "\eaaf";
}
.lynny-volume-2:before {
  content: "\eab0";
}
.lynny-volume-3:before {
  content: "\eab1";
}
.lynny-volume-4:before {
  content: "\eab2";
}
.lynny-volume-off:before {
  content: "\eab3";
}
.lynny-wallet-1:before {
  content: "\eab4";
}
.lynny-wallet-2:before {
  content: "\eab5";
}
.lynny-wallet-3:before {
  content: "\eab6";
}
.lynny-warning:before {
  content: "\eab7";
}
.lynny-wi-fi-logo:before {
  content: "\eab8";
}
.lynny-wind:before {
  content: "\eab9";
}
.lynny-wine-glass:before {
  content: "\eaba";
}
.lynny-wordpress-cricle:before {
  content: "\eabb";
}
.lynny-wordpress-square:before {
  content: "\eabc";
}
.lynny-wrench:before {
  content: "\eabd";
}
.lynny-write:before {
  content: "\eabe";
}
.lynny-yahoo-cricle:before {
  content: "\eabf";
}
.lynny-yahoo-square:before {
  content: "\eac0";
}
.lynny-youtube-circle:before {
  content: "\eac1";
}
.lynny-youtube-square:before {
  content: "\eac2";
}
.lynny-zoom-in:before {
  content: "\eac3";
}
.lynny-zoom-out:before {
  content: "\eac4";
}

